/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/
body{
  background-color: #000000;
}
#states{
  width: 13vw;
  margin-left:43vw;
  height: 20px;
  background-color: #000000;
  color: #ffffff;
}
ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 25vh;
  color: #ffffff;
  font-size: 2vh;
}
ul :hover{
  font-size: 2.3vh;
  height: 3vh;
  transition: 0.5s ease-in-out;
}